<tr class="table-row">
    <td>

        {{burger_name}}

        <button type="button" class="burger-handler float-right align-middle" data-id="{{id}}"
            data-devoured="{{isDevoured}}">

            {{#if isDevoured}}Once More{{else}}Devour{{/if}}

        </button>
    </td>
</tr>